<body>
  <p>
    <ul>
      <li><%=@recipe.name%></li>
      <li><%=@recipe.name%></li>
      <li><%=@recipe.name%></li>
    </ul>
    <form method="post" action="/posts/<%= @post.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </p>
</body>
